@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #030307;
        --background: #f2f0fa;
        --primary: #514bb9;
        --secondary: #c1a0da;
        --accent: #ac70c7;
    }
    .dark {
        --text: #f8f8fc;
        --background: #07050f;
        --primary: #4b46b4;
        --secondary: #46255f;
        --accent: #73388f;
    }
}